public/app/wpenon/enev2021-01/datenerfassung/datenerfassung.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://energieausweis.dibt.de/schema/SchemaDatenErfassung.xsd" xmlns:mstns="https://energieausweis.dibt.de/schema/SchemaDatenErfassung.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" id="SchemaDatenErfassung" targetNamespace="https://energieausweis.dibt.de/schema/SchemaDatenErfassung.xsd" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <!-- Authentifizierung des Benutzers -->
        <xs:element name="Authentifizierung">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Aussteller_ID_DIBT" type="xs:string">
                <xs:annotation>
                  <xs:documentation xml:lang="de-de">Die bei der Registratur am DIBt-Ausstellerportal verwendete Benutzer-ID des Benutzers der Organisation</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Aussteller_PWD_DIBT" type="xs:string">
                <xs:annotation>
                  <xs:documentation xml:lang="de-de">Das beim DIBt-Ausstellerportal für den Benutzer hinterlegte Passwort – verschlüsselt nach MD5</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- EnEV-Nachweis -->
        <xs:element name="EnEV-Nachweis">
          <xs:annotation>
            <xs:documentation xml:lang="de-de">Block, der die typunanabhändigen Daten zur Beziehung einer Registriernummer vom DIBt enthält</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="Ausstellungsdatum" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="de-de">Ausstellungsdatum des Energieausweises</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Bundesland" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="de-de">Bundesland des Gebäudestandortes</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Baden-Württemberg"/>
                    <xs:enumeration value="Bayern"/>
                    <xs:enumeration value="Berlin"/>
                    <xs:enumeration value="Brandenburg"/>
                    <xs:enumeration value="Bremen"/>
                    <xs:enumeration value="Hamburg"/>
                    <xs:enumeration value="Hessen"/>
                    <xs:enumeration value="Mecklenburg-Vorpommern"/>
                    <xs:enumeration value="Niedersachsen"/>
                    <xs:enumeration value="Nordrhein-Westfalen"/>
                    <xs:enumeration value="Rheinland-Pfalz"/>
                    <xs:enumeration value="Saarland"/>
                    <xs:enumeration value="Sachsen"/>
                    <xs:enumeration value="Sachsen-Anhalt"/>
                    <xs:enumeration value="Schleswig-Holstein"/>
                    <xs:enumeration value="Thüringen"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Postleitzahl" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="de-de">Postleitzahl des Gebäudestandortes</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="Gesetzesgrundlage" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="de-de">Verwendete Gesetzesgrundlage</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Auswahl Energieausweis-Daten oder EnergInspektions-Daten -->
        <xs:choice>
          <xs:element name="Energieausweis-Daten" type="mstns:Energieausweis-Daten" minOccurs="0" maxOccurs="1"/>
          <xs:element name="EnergInspektions-Daten" type="mstns:EnergInspektions-Daten" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Typ Energieausweis-Daten -->
  <xs:complexType name="Energieausweis-Daten">
    <xs:annotation>
      <xs:documentation xml:lang="de-de">Weiterhin erforderliche Daten im Falle eines Energieausweises</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Gebaeudeart">
        <xs:annotation>
          <xs:documentation xml:lang="de-de">Art des Gebäudes</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Wohngebäude"/>
            <xs:enumeration value="Nichtwohngebäude"/>
            <xs:enumeration value="Wohnteil gemischt genutztes Gebäude"/>
            <xs:enumeration value="Nichtwohnteil gemischt genutztes Gebäude"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Art">
        <xs:annotation>
          <xs:documentation xml:lang="de-de">Art des Energieausweises</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Energieverbrauchsausweis"/>
            <xs:enumeration value="Energiebedarfsausweis"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Neubau">
        <xs:annotation>
          <xs:documentation xml:lang="de-de">Kennzeichen, ob das Gebäude ein Neubau ist</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Typ EnergInspektions-Daten -->
  <xs:complexType name="EnergInspektions-Daten">
    <xs:annotation>
      <xs:documentation xml:lang="de-de">Weiterhin erforderliche Daten im Falle einer energetischen Inspektion</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Nennleistung" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="de-de">Nennleistung (Kälteerzeugung) der energetischen Anlage in kW</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
